@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

.background {
	min-width: 100vw;
	position: absolute;
	top: 0;
	z-index: -100;
	background: #354F93;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.background img {
	opacity: .45;
	width:100vw;
}

.links {

	display: flex;
	justify-content: space-between;
	height: 270px;
}

.links img {
	height: 270px;
}

.history-dept {
	font-family: 'Satisfy', cursive;
	font-size: 6em;
	padding-right: 1.5em;
	color: #FFFFFF;
	text-align: center;
}

.history-dept p {
	display:inline-block;
	margin: 0;
}

nav {
	line-height: 50px;
}

nav a {

	vertical-align: middle;
	padding: 5em;
	text-decoration: none;
}

.circle-display {
	display: flex;
	flex-direction: column;
	margin-top: 6em;
	background-color: #C4C4C4;
	height: 400px;
}

.recent-news {
	margin-top: 10em;
	/*background-color: #C4C4C4;*/
	height:400px;
}

.content {
	margin: 2em;
}

.articles {
	background-color: #E5E5E5;
	height: 85%;
}

h2.title {
	padding-bottom: 5px;
	border-bottom: 1px solid #c9c6be;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.news-row {
	display: flex;
	text-align: center;
	margin: 1em;
}

.news-row a {
	padding: 1em;
	margin: auto;

}
.news-row a img {
	height: auto;
	width: 100%;
	padding-bottom: 1em;
}

.pic-container {
	height:100%;
	flex: 1;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: #354F93;
}
/* Scaling up for 4k */
@media (min-width: 3800px) {

	.links {
		height: 675px;
	}

	.links img {
		height: 675px;
	}

	.history-dept {
		font-size: 15em;
	}

	nav {
		line-height: 125px;
	}

	nav a {
		font-size: 2.5em;
	}
	.circle-display {
		height: 1000px;
	}

	.recent-news {
		height:1000px;
	}
	.recent-news a{
		font-size: 2em;
	}
	h2.title {
		font-size: 3em;
	}
}


/*
Current bugs:
Pictures not same size and too big
Text not in the right place
Hamburger bar not inserted yet
 */
/* Scaling  for tablet(ipad) in portrait mode*/
@media (min-width: 768px) and (max-width: 1024px) {
	nav a {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		background-color: #E5E5E5;
		height: 40px;
	 	/* background-image: url(assets/hamburger_bar.jpg);	 */
	}

	.container {
		overflow: scroll;
		flex-direction: column;
	}

}
